[Unit]
Description=Executa o monitoramento a cada 5 minutos

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=monitora.service

[Install]
WantedBy=timers.target
